.Counter {
    margin-bottom: 24px;
}

.title {
    color: #1beb33;
}

.value {
    color: red;
    font-weight: 900;
}

.buttonsBlock {
    display: flex;
    gap: 8px
}

.button {
    width: 48px;
    height: 48px;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}